$def with (note,res_base_url)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sample for Markdown To Page</title>
    <link rel='stylesheet' type='text/css' media='screen' href="$res_base_url/css/markdown.css" />
    <link rel='stylesheet' type='text/css' media='screen' href="$res_base_url/css/md_note.css" />
    <link rel='stylesheet' type='text/css' media='screen' href="$res_base_url/css/index.css"/>
</head>

<body style='zoom:1'>
<h1>Sample for Markdown To Page</h1>

<ul>

<li>
    <h3>GET</h3>
<form name="form2" method='get' action='/gen_md' target='_blank'>
<label for='txt_src'>src[requirement], urlencode by utf-8</label>
<input type='text' name='src' id='txt_src' value='https://raw2.github.com/zyxstar/markdown_note/master/docs/Manual.md'/>
<label for='txt_title'>title[optional], default is filename extracted from src</label>
<input type='text' name='title' id='txt_title' value='Manual'/>
<label for='txt_encoding'>encoding[optional], file encoding, default is utf-8</label>
<input type='text' name='encoding' id='txt_encoding' value='utf-8'/>

<input type='submit'/>
</form>

<a href='https://github.com/zyxstar/markdown_note/blob/master/README.md' target='_blank'>My Notes On Github</a>
<br/>
<a href='/gen_md?src=https%3A%2F%2Fgithub.com%2Fzyxstar%2Fmarkdown_note%2Fraw%2Fmaster%2FREADME.md'>My Notes Index</a>

</li>
<li>
    <h3>POST</h3>
  <form name="form2" method='post' action='/gen_md' target='_blank'>
<label for='txt_note'>note[requirement]</label>
<textarea rows='15' name='note' id="txt_note">
$note
</textarea>
<label for='txt_title'>title[requirement]</label>
<input type='text' name='title' id='txt_title' value='Manual'/>
<label for='txt_based_url'>based_url[optional], fix links (such as img, a) when using a relative path</label>
<input type='text' name='based_url' id='txt_based_url' value='https://raw2.github.com/zyxstar/markdown_note/master/docs/Manual.md'/>
<input type='submit'/>
</form>
</li>
</ul>



</body>
</html>